--
-- PostgreSQL database dump
--

\restrict TX461tc5hVKpNXHdq004v7zTCvEMQPtsAXah0oRjtik6db2Qum2AYOCfQHXJX05

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Carrier; Type: TABLE; Schema: public; Owner: slms_user
--

CREATE TABLE public."Carrier" (
    carrier_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    avg_cost numeric(10,2),
    on_time_rate numeric(5,2),
    success_rate numeric(5,2)
);


ALTER TABLE public."Carrier" OWNER TO slms_user;

--
-- Name: TABLE "Carrier"; Type: COMMENT; Schema: public; Owner: slms_user
--

COMMENT ON TABLE public."Carrier" IS 'Shipping carriers/companies';


--
-- Name: Costumer; Type: TABLE; Schema: public; Owner: slms_user
--

CREATE TABLE public."Costumer" (
    user_id uuid NOT NULL,
    phone text
);


ALTER TABLE public."Costumer" OWNER TO slms_user;

--
-- Name: TABLE "Costumer"; Type: COMMENT; Schema: public; Owner: slms_user
--

COMMENT ON TABLE public."Costumer" IS 'Customer users';


--
-- Name: Csr; Type: TABLE; Schema: public; Owner: slms_user
--

CREATE TABLE public."Csr" (
    user_id uuid NOT NULL
);


ALTER TABLE public."Csr" OWNER TO slms_user;

--
-- Name: TABLE "Csr"; Type: COMMENT; Schema: public; Owner: slms_user
--

COMMENT ON TABLE public."Csr" IS 'Customer Service Representatives';


--
-- Name: Driver; Type: TABLE; Schema: public; Owner: slms_user
--

CREATE TABLE public."Driver" (
    driver_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    carrier_id uuid
);


ALTER TABLE public."Driver" OWNER TO slms_user;

--
-- Name: TABLE "Driver"; Type: COMMENT; Schema: public; Owner: slms_user
--

COMMENT ON TABLE public."Driver" IS 'Drivers assigned to carriers';


--
-- Name: LogisticsManager; Type: TABLE; Schema: public; Owner: slms_user
--

CREATE TABLE public."LogisticsManager" (
    user_id uuid NOT NULL
);


ALTER TABLE public."LogisticsManager" OWNER TO slms_user;

--
-- Name: TABLE "LogisticsManager"; Type: COMMENT; Schema: public; Owner: slms_user
--

COMMENT ON TABLE public."LogisticsManager" IS 'Logistics Managers';


--
-- Name: Orders; Type: TABLE; Schema: public; Owner: slms_user
--

CREATE TABLE public."Orders" (
    order_id uuid DEFAULT gen_random_uuid() NOT NULL,
    costumer_id uuid,
    shipment_id uuid,
    carrier_id uuid,
    order_date timestamp with time zone DEFAULT now(),
    origin_address text NOT NULL,
    destination_address text NOT NULL,
    weight numeric(10,2),
    tracking_id text,
    actual_delivery_time timestamp with time zone,
    pod bytea,
    status text,
    error_message text
);


ALTER TABLE public."Orders" OWNER TO slms_user;

--
-- Name: TABLE "Orders"; Type: COMMENT; Schema: public; Owner: slms_user
--

COMMENT ON TABLE public."Orders" IS 'Customer orders';


--
-- Name: Shipments; Type: TABLE; Schema: public; Owner: slms_user
--

CREATE TABLE public."Shipments" (
    shipment_id uuid DEFAULT gen_random_uuid() NOT NULL,
    carrier_id uuid,
    driver_id uuid,
    departure_time timestamp with time zone,
    arrival_time timestamp with time zone,
    status text,
    CONSTRAINT "Shipments_status_check" CHECK ((status = ANY (ARRAY['Pending'::text, 'InTransit'::text, 'Delivered'::text, 'Cancelled'::text])))
);


ALTER TABLE public."Shipments" OWNER TO slms_user;

--
-- Name: TABLE "Shipments"; Type: COMMENT; Schema: public; Owner: slms_user
--

COMMENT ON TABLE public."Shipments" IS 'Shipment tracking';


--
-- Name: Users; Type: TABLE; Schema: public; Owner: slms_user
--

CREATE TABLE public."Users" (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text,
    email text,
    keycloak_id uuid,
    last_login timestamp with time zone DEFAULT now(),
    first_name text,
    last_name text
);


ALTER TABLE public."Users" OWNER TO slms_user;

--
-- Name: TABLE "Users"; Type: COMMENT; Schema: public; Owner: slms_user
--

COMMENT ON TABLE public."Users" IS 'Main user table synced from Keycloak';


--
-- Name: WarehouseStaff; Type: TABLE; Schema: public; Owner: slms_user
--

CREATE TABLE public."WarehouseStaff" (
    user_id uuid NOT NULL
);


ALTER TABLE public."WarehouseStaff" OWNER TO slms_user;

--
-- Name: TABLE "WarehouseStaff"; Type: COMMENT; Schema: public; Owner: slms_user
--

COMMENT ON TABLE public."WarehouseStaff" IS 'Warehouse Staff';


--
-- Data for Name: Carrier; Type: TABLE DATA; Schema: public; Owner: slms_user
--

COPY public."Carrier" (carrier_id, name, avg_cost, on_time_rate, success_rate) FROM stdin;
035e3667-66e1-4f90-abf8-e45caab9b1f2	FedEx	14.50	0.96	0.99
a56c5b31-b805-4144-95ce-173c3ad23c8e	UPS	12.80	0.94	0.97
193c9b19-b485-4bd3-bf9c-7414f2bde2b3	DPD	10.20	0.91	0.95
c0d95338-90df-4926-810d-be518c8a5e53	DHL	13.70	0.95	0.98
\.


--
-- Data for Name: Costumer; Type: TABLE DATA; Schema: public; Owner: slms_user
--

COPY public."Costumer" (user_id, phone) FROM stdin;
b03981b3-c6d6-4d20-9a4c-93d7a4b9ce86	15
79b311db-909b-4513-be09-0b7185c89fe2	15
503d3e04-6815-4608-afa4-3f4b30c31adf	15
5191d06f-e840-43c6-9548-1ec0136e1224	15
\.


--
-- Data for Name: Csr; Type: TABLE DATA; Schema: public; Owner: slms_user
--

COPY public."Csr" (user_id) FROM stdin;
7ded4be4-40d1-48ae-9247-6f20f672cf09
\.


--
-- Data for Name: Driver; Type: TABLE DATA; Schema: public; Owner: slms_user
--

COPY public."Driver" (driver_id, user_id, carrier_id) FROM stdin;
0165cc88-6569-409d-b81f-e7ae473c0fa1	15594613-166d-4dab-ac19-6dff958374d0	035e3667-66e1-4f90-abf8-e45caab9b1f2
fb81680d-e588-448a-8d2d-8bfae5148560	b8188bf4-84c8-4a38-8a23-0269c2ed755c	a56c5b31-b805-4144-95ce-173c3ad23c8e
31d122fb-5b2e-442f-ae1e-80294df19db3	213c0529-04a1-453e-8d4c-d903471ae4e8	c0d95338-90df-4926-810d-be518c8a5e53
\.


--
-- Data for Name: LogisticsManager; Type: TABLE DATA; Schema: public; Owner: slms_user
--

COPY public."LogisticsManager" (user_id) FROM stdin;
bab4f237-718e-4fd3-82e1-6451b2ac8c2b
\.


--
-- Data for Name: Orders; Type: TABLE DATA; Schema: public; Owner: slms_user
--



--
-- Data for Name: Shipments; Type: TABLE DATA; Schema: public; Owner: slms_user
--

COPY public."Shipments" (shipment_id, carrier_id, driver_id, departure_time, arrival_time, status) FROM stdin;
b1ca0b16-f414-47fa-ae8b-49c8616049c1	a56c5b31-b805-4144-95ce-173c3ad23c8e	fb81680d-e588-448a-8d2d-8bfae5148560	2025-10-15 12:27:21+00	2025-10-15 11:27:51.136221+00	InTransit
b2319ba9-7137-4610-813c-920ac55b2c5f	193c9b19-b485-4bd3-bf9c-7414f2bde2b3	0165cc88-6569-409d-b81f-e7ae473c0fa1	2025-10-15 11:27:14.353847+00	2025-10-15 11:27:14.353847+00	InTransit
\.


--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: slms_user
--



--
-- Data for Name: WarehouseStaff; Type: TABLE DATA; Schema: public; Owner: slms_user
--

COPY public."WarehouseStaff" (user_id) FROM stdin;
f4ec55f9-2918-4b3a-a27c-f77a3e72fdb8
\.


--
-- Name: Carrier Carrier_pkey; Type: CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Carrier"
    ADD CONSTRAINT "Carrier_pkey" PRIMARY KEY (carrier_id);


--
-- Name: Costumer Costumer_pkey; Type: CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Costumer"
    ADD CONSTRAINT "Costumer_pkey" PRIMARY KEY (user_id);


--
-- Name: Csr Csr_pkey; Type: CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Csr"
    ADD CONSTRAINT "Csr_pkey" PRIMARY KEY (user_id);


--
-- Name: Driver Driver_pkey; Type: CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Driver"
    ADD CONSTRAINT "Driver_pkey" PRIMARY KEY (driver_id);


--
-- Name: LogisticsManager LogisticsManager_pkey; Type: CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."LogisticsManager"
    ADD CONSTRAINT "LogisticsManager_pkey" PRIMARY KEY (user_id);


--
-- Name: Orders Orders_pkey; Type: CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Orders"
    ADD CONSTRAINT "Orders_pkey" PRIMARY KEY (order_id);


--
-- Name: Shipments Shipments_pkey; Type: CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Shipments"
    ADD CONSTRAINT "Shipments_pkey" PRIMARY KEY (shipment_id);


--
-- Name: Users Users_pkey; Type: CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_pkey" PRIMARY KEY (id);


--
-- Name: WarehouseStaff WarehouseStaff_pkey; Type: CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."WarehouseStaff"
    ADD CONSTRAINT "WarehouseStaff_pkey" PRIMARY KEY (user_id);


--
-- Name: Users users_keycloak_id_key; Type: CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT users_keycloak_id_key UNIQUE (keycloak_id);


--
-- Name: Users users_name_key; Type: CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT users_name_key UNIQUE (name);


--
-- Name: idx_driver_carrier_id; Type: INDEX; Schema: public; Owner: slms_user
--

CREATE INDEX idx_driver_carrier_id ON public."Driver" USING btree (carrier_id);


--
-- Name: idx_driver_user_id; Type: INDEX; Schema: public; Owner: slms_user
--

CREATE INDEX idx_driver_user_id ON public."Driver" USING btree (user_id);


--
-- Name: idx_orders_carrier_id; Type: INDEX; Schema: public; Owner: slms_user
--

CREATE INDEX idx_orders_carrier_id ON public."Orders" USING btree (carrier_id);


--
-- Name: idx_orders_costumer_id; Type: INDEX; Schema: public; Owner: slms_user
--

CREATE INDEX idx_orders_costumer_id ON public."Orders" USING btree (costumer_id);


--
-- Name: idx_orders_shipment_id; Type: INDEX; Schema: public; Owner: slms_user
--

CREATE INDEX idx_orders_shipment_id ON public."Orders" USING btree (shipment_id);


--
-- Name: idx_orders_status; Type: INDEX; Schema: public; Owner: slms_user
--

CREATE INDEX idx_orders_status ON public."Orders" USING btree (status);


--
-- Name: idx_shipments_carrier_id; Type: INDEX; Schema: public; Owner: slms_user
--

CREATE INDEX idx_shipments_carrier_id ON public."Shipments" USING btree (carrier_id);


--
-- Name: idx_shipments_driver_id; Type: INDEX; Schema: public; Owner: slms_user
--

CREATE INDEX idx_shipments_driver_id ON public."Shipments" USING btree (driver_id);


--
-- Name: idx_shipments_status; Type: INDEX; Schema: public; Owner: slms_user
--

CREATE INDEX idx_shipments_status ON public."Shipments" USING btree (status);


--
-- Name: idx_users_keycloak_id; Type: INDEX; Schema: public; Owner: slms_user
--

CREATE INDEX idx_users_keycloak_id ON public."Users" USING btree (keycloak_id);


--
-- Name: idx_users_name; Type: INDEX; Schema: public; Owner: slms_user
--

CREATE INDEX idx_users_name ON public."Users" USING btree (name);


--
-- Name: Costumer Costumer_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Costumer"
    ADD CONSTRAINT "Costumer_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."Users"(id) ON DELETE CASCADE;


--
-- Name: Csr Csr_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Csr"
    ADD CONSTRAINT "Csr_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."Users"(id) ON DELETE CASCADE;


--
-- Name: Driver Driver_carrier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Driver"
    ADD CONSTRAINT "Driver_carrier_id_fkey" FOREIGN KEY (carrier_id) REFERENCES public."Carrier"(carrier_id) ON DELETE SET NULL;


--
-- Name: Driver Driver_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Driver"
    ADD CONSTRAINT "Driver_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."Users"(id) ON DELETE CASCADE;


--
-- Name: LogisticsManager LogisticsManager_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."LogisticsManager"
    ADD CONSTRAINT "LogisticsManager_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."Users"(id) ON DELETE CASCADE;


--
-- Name: Orders Orders_carrier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Orders"
    ADD CONSTRAINT "Orders_carrier_id_fkey" FOREIGN KEY (carrier_id) REFERENCES public."Carrier"(carrier_id) ON DELETE SET NULL;


--
-- Name: Orders Orders_costumer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Orders"
    ADD CONSTRAINT "Orders_costumer_id_fkey" FOREIGN KEY (costumer_id) REFERENCES public."Costumer"(user_id) ON DELETE SET NULL;


--
-- Name: Orders Orders_shipment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Orders"
    ADD CONSTRAINT "Orders_shipment_id_fkey" FOREIGN KEY (shipment_id) REFERENCES public."Shipments"(shipment_id) ON DELETE SET NULL;


--
-- Name: Shipments Shipments_carrier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Shipments"
    ADD CONSTRAINT "Shipments_carrier_id_fkey" FOREIGN KEY (carrier_id) REFERENCES public."Carrier"(carrier_id) ON DELETE SET NULL;


--
-- Name: Shipments Shipments_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."Shipments"
    ADD CONSTRAINT "Shipments_driver_id_fkey" FOREIGN KEY (driver_id) REFERENCES public."Driver"(driver_id) ON DELETE SET NULL;


--
-- Name: WarehouseStaff WarehouseStaff_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: slms_user
--

ALTER TABLE ONLY public."WarehouseStaff"
    ADD CONSTRAINT "WarehouseStaff_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."Users"(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict TX461tc5hVKpNXHdq004v7zTCvEMQPtsAXah0oRjtik6db2Qum2AYOCfQHXJX05

