services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: shipping
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  app:
    build: .
    image: order-demo:latest
    ports:
      - '8081:8080'
    environment:
      DB_HOST: db
      DB_PORT: '5432'
      DB_NAME: shipping
      DB_USER: admin
      DB_PASS: admin
    depends_on:
      - db

volumes:
  db-data:
