version: '3.8'

services:
  allure-report:
    build:
      context: .
      dockerfile: Dockerfile.allure
    container_name: allure-report
    ports:
      - "8080:8080"
    volumes:
      # Backend - Monta os resultados dos testes de todos os serviços
      - ./user_service/allure-results:/app/allure-results/backend/user_service:ro
      - ./order_service/demo/allure-results:/app/allure-results/backend/order_service:ro
      - ./carrier_service/carrier_service/allure-results:/app/allure-results/backend/carrier_service:ro
      
      # Frontend - Monta os resultados dos testes do frontend
      - ../react-frontend/frontend/allure-results:/app/allure-results/frontend:ro
      
      # Opcional: persistir o relatório gerado
      - ./allure-report:/app/allure-report
    command: serve allure-results --port 8080 --host 0.0.0.0
    restart: unless-stopped
